body{
    display: flex;
    justify-content: center;
}

div.unexplored{
    
    
    background-color: #d3d3d3;
    border: rgb(231, 224, 224) solid 2px;
    border-style: outset;
}
div.explored{
    background-color: #d3d3d3;
    border: black solid 1px;
    border: inset;
}
div.tile{
    
    line-height: 20px;
    width: 20px;
    height: 20px;
    padding: 0 0 0 3px;
}

div.unexplored:hover{
    background-color: rgb(26, 231, 71);
}

div.rows{
    display: flex;
    flex-direction: row;
}

div.board{
    display: flex;
    flex-direction: column;
    align-content: center;
}