/* @import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  margin-right: .3px;

  padding: 0;
  border: -10px;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}
h2.date{

/* align-content: center; */
position:absolute;
right: 6%;
margin-top: -20px;

}
h3.clock {
  position: absolute;
  margin-top: -20px;
   left:6%;
  font-size: 22px;
  font-weight: bold;
  
}
div.calender-widget {
  position: relative;
  padding-top: 2em;
  padding-left: 2em;
  padding:1em;
  flex-direction: row;
  align-content: space-between;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border: 15px, dashed, black;
  border-radius: 2px;
  border-style: ridge;
  
  
}
.tabscription{
  background-color: lightgray;
  margin:-5px -10px;

  padding:5px 10px;
}

div#selected-true {
  background-color: lightgray;
  border-bottom: none;
}

h3.title {
  display: block;
  position: fixed;
}

div.tab-display {
  display: flex;
  flex-grow:inherit
  
}

.tab {
  flex-grow: 1;
  display:inline-block;
  padding-top: 2em;
  padding-left: 2em;
  padding:1em;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border: 15px, dashed, black;
  border-radius: 2px;
  border-style: ridge;
}

.tab:hover{
  background-color: lightgray;

}

div#description{
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
